.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.card {
  border: solid 1px lightgray;
  border-radius: 5px;
  width: 400px;
  height: 300px;
}

.card-img {
  height: 200px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.char-detail-img {
  height: 400px;
  float: left;
  margin: 35px;
}
