.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  /* height: 65px; */
  /* background: rgb(201, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: solid 2px black; */
  margin-bottom: 50px;
}

ul {
  /* margin-right: 40px; */
  display: flex;
  justify-content: center;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  line-height: 40px;
  padding: 0 20px;
  display: block;
  background: rgb(201, 0, 0);
  margin: 3px 25px;
  border: solid 2px black;
  border-radius: 20px;
}

ul a:hover {
  background: white;
  border: solid 2px rgb(201, 0, 0);
  color: black;
}

.searchField {
  height: 30px;
  width: 175px;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 20px;
  border-color: lightgray;
  padding: 0 20px;
}

.searchField:focus {
  outline: none;
}

.card {
  border: solid 1px lightgray;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.card-img {
  height: 200px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.char-detail {
  text-align: left;
  display: flex;
}

.char-detail h2 {
  margin: 0;
}

.char-detail-img {
  height: 400px;
  /* float: left; */
  margin: 0 35px 0 20%;
}

.char-detail-text {
}

.char-detail-desc {
  margin-right: 20%;
}

.comic-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.comic {
  border: solid 1px lightgray;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.comic-img {
  height: 200px;
  width: auto;
  box-shadow: 0 5px 15px grey;
}

.comic-list h3 {
  font-size: 15px;
  margin: 10px;
}
